--
-- PostgreSQL database dump
--

-- Dumped from database version 15.3
-- Dumped by pg_dump version 15.3

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: postgres
--

-- *not* creating schema, since initdb creates it


ALTER SCHEMA public OWNER TO postgres;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: postgres
--

COMMENT ON SCHEMA public IS '';


--
-- Name: EnumBannerType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EnumBannerType" AS ENUM (
    'ProductDetails',
    'Products',
    'Categories',
    'Sections',
    'Post'
);


ALTER TYPE public."EnumBannerType" OWNER TO postgres;

--
-- Name: EnumDeliveryMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EnumDeliveryMethod" AS ENUM (
    'courier',
    'mail'
);


ALTER TYPE public."EnumDeliveryMethod" OWNER TO postgres;

--
-- Name: EnumOrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."EnumOrderStatus" AS ENUM (
    'pending',
    'payed',
    'shipped',
    'delivered'
);


ALTER TYPE public."EnumOrderStatus" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: PromoCode; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."PromoCode" (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    code text NOT NULL,
    discount integer NOT NULL,
    description text DEFAULT ''::text,
    expiry_date timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    category text DEFAULT ''::text,
    min_order_sum integer DEFAULT 0,
    is_active boolean DEFAULT true NOT NULL
);


ALTER TABLE public."PromoCode" OWNER TO postgres;

--
-- Name: _CategoryToProduct; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."_CategoryToProduct" (
    "A" text NOT NULL,
    "B" text NOT NULL
);


ALTER TABLE public."_CategoryToProduct" OWNER TO postgres;

--
-- Name: carousel; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carousel (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    image_path text NOT NULL,
    banner_type public."EnumBannerType" DEFAULT 'ProductDetails'::public."EnumBannerType",
    banner_slug text NOT NULL,
    "order" integer DEFAULT 1 NOT NULL,
    is_public boolean DEFAULT false
);


ALTER TABLE public.carousel OWNER TO postgres;

--
-- Name: category; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.category (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    section_id text
);


ALTER TABLE public.category OWNER TO postgres;

--
-- Name: label_product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.label_product (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    slug text NOT NULL,
    name text NOT NULL
);


ALTER TABLE public.label_product OWNER TO postgres;

--
-- Name: order; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."order" (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    comment text DEFAULT ''::text,
    coupon text DEFAULT ''::text,
    total_price integer NOT NULL,
    status public."EnumOrderStatus" DEFAULT 'pending'::public."EnumOrderStatus" NOT NULL,
    delivery_method public."EnumDeliveryMethod" DEFAULT 'courier'::public."EnumDeliveryMethod" NOT NULL,
    delivery_price integer DEFAULT 0 NOT NULL,
    user_id text NOT NULL
);


ALTER TABLE public."order" OWNER TO postgres;

--
-- Name: order_item; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_item (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    quantity integer NOT NULL,
    price integer NOT NULL,
    product_id text NOT NULL,
    order_id text
);


ALTER TABLE public.order_item OWNER TO postgres;

--
-- Name: post; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.post (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    image text NOT NULL,
    title text NOT NULL,
    slug text NOT NULL,
    description text NOT NULL,
    is_public boolean DEFAULT false NOT NULL,
    count_views integer DEFAULT 0 NOT NULL,
    count_likes integer DEFAULT 0 NOT NULL,
    likes_ids_users text[] DEFAULT ARRAY[]::text[]
);


ALTER TABLE public.post OWNER TO postgres;

--
-- Name: product; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    images text[],
    name text,
    slug text NOT NULL,
    description text,
    composition text DEFAULT ''::text,
    rating double precision DEFAULT 0.0 NOT NULL,
    weight integer DEFAULT 0,
    price integer DEFAULT 0,
    new_price integer DEFAULT 0 NOT NULL,
    discount integer DEFAULT 0 NOT NULL,
    is_public boolean DEFAULT false NOT NULL,
    orders_count integer DEFAULT 0 NOT NULL,
    count_opened integer DEFAULT 0 NOT NULL,
    count_reviews integer DEFAULT 0 NOT NULL,
    in_stock boolean DEFAULT true NOT NULL,
    label_product_id text,
    "userId" text
);


ALTER TABLE public.product OWNER TO postgres;

--
-- Name: review; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.review (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    message text NOT NULL,
    images text[],
    is_public boolean DEFAULT false NOT NULL,
    rating integer DEFAULT 0 NOT NULL,
    user_id text NOT NULL,
    product_id text NOT NULL
);


ALTER TABLE public.review OWNER TO postgres;

--
-- Name: section; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.section (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    name text NOT NULL,
    slug text NOT NULL
);


ALTER TABLE public.section OWNER TO postgres;

--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    id text NOT NULL,
    created_at timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    updated_at timestamp(3) without time zone NOT NULL,
    email text NOT NULL,
    password text NOT NULL,
    is_admin boolean DEFAULT false NOT NULL,
    name text DEFAULT ''::text,
    surname text DEFAULT ''::text,
    avatar_path text DEFAULT '/uploads/default/default-avatar.jpg'::text,
    phone text DEFAULT ''::text,
    reset_password_count integer DEFAULT 0 NOT NULL,
    region text DEFAULT ''::text NOT NULL,
    city text DEFAULT ''::text NOT NULL,
    post_code text DEFAULT ''::text NOT NULL,
    street text DEFAULT ''::text NOT NULL,
    house text DEFAULT ''::text NOT NULL,
    apartment text DEFAULT ''::text NOT NULL
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Data for Name: PromoCode; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public."PromoCode" (id, created_at, updated_at, code, discount, description, expiry_date, category, min_order_sum, is_active) FROM stdin;
clz3u6nu00000tlp4fnvsfu9w	2024-07-27 07:55:25.609	2024-07-27 07:57:37.246	ILOVEFRAJOUR	20		2024-07-29 07:55:25.609	Fraijour	2000	t
\.


--
-- Data for Name: _CategoryToProduct; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: carousel; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: category; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: label_product; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.label_product (id, created_at, updated_at, slug, name) FROM stdin;
clymno9hg002rdy2kt2ssan6f	2024-07-15 07:21:04.516	2024-07-15 07:21:10.9	novinki	╨Э╨╛╨▓╨╕╨╜╨║╨╕
clymnojeh002sdy2k428v7swv	2024-07-15 07:21:17.362	2024-07-15 07:21:21.629	hity	╨е╨╕╤В╤Л
clymnoog0002tdy2k7kvxd4b9	2024-07-15 07:21:23.904	2024-07-15 07:21:30.409	rekomenduem-	╨а╨╡╨║╨╛╨╝╨╡╨╜╨┤╤Г╨╡╨╝
\.


--
-- Data for Name: order; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: order_item; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: post; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: review; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.review (id, created_at, updated_at, message, images, is_public, rating, user_id, product_id) FROM stdin;
clz85yhid0000tl4s5v5a3rn6	2024-06-14 08:36:00	2024-07-30 08:38:41.596	╨Ъ╤А╨░╤Б╨╕╨▓╨╛╨╡!	{}	t	5	clylvi3er0000cl33j5lf7bhp	clz5x9aia0007tlmgcgnofsm4
clz3y71eo0005tl10ck5o647q	2024-07-19 09:47:00	2024-07-30 09:01:09.919	╨Ю╤З╨╡╨╜╤М ╨┐╨╛╨╜╤А╨░╨▓╨╕╨╗╤Б╤П!	{}	t	5	clylvi3er0000cl33j5lf7bhp	clytvhqmz0007em2kaf6yxjmj
\.


--
-- Data for Name: section; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: PromoCode PromoCode_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."PromoCode"
    ADD CONSTRAINT "PromoCode_pkey" PRIMARY KEY (id);


--
-- Name: carousel carousel_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carousel
    ADD CONSTRAINT carousel_pkey PRIMARY KEY (id);


--
-- Name: category category_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_pkey PRIMARY KEY (id);


--
-- Name: label_product label_product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.label_product
    ADD CONSTRAINT label_product_pkey PRIMARY KEY (id);


--
-- Name: order_item order_item_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item
    ADD CONSTRAINT order_item_pkey PRIMARY KEY (id);


--
-- Name: order order_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_pkey PRIMARY KEY (id);


--
-- Name: post post_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.post
    ADD CONSTRAINT post_pkey PRIMARY KEY (id);


--
-- Name: product product_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_pkey PRIMARY KEY (id);


--
-- Name: review review_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_pkey PRIMARY KEY (id);


--
-- Name: section section_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.section
    ADD CONSTRAINT section_pkey PRIMARY KEY (id);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (id);


--
-- Name: PromoCode_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "PromoCode_code_key" ON public."PromoCode" USING btree (code);


--
-- Name: _CategoryToProduct_AB_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "_CategoryToProduct_AB_unique" ON public."_CategoryToProduct" USING btree ("A", "B");


--
-- Name: _CategoryToProduct_B_index; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "_CategoryToProduct_B_index" ON public."_CategoryToProduct" USING btree ("B");


--
-- Name: carousel_banner_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX carousel_banner_slug_key ON public.carousel USING btree (banner_slug);


--
-- Name: category_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX category_name_key ON public.category USING btree (name);


--
-- Name: category_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX category_slug_key ON public.category USING btree (slug);


--
-- Name: label_product_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX label_product_name_key ON public.label_product USING btree (name);


--
-- Name: label_product_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX label_product_slug_key ON public.label_product USING btree (slug);


--
-- Name: post_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX post_slug_key ON public.post USING btree (slug);


--
-- Name: post_title_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX post_title_key ON public.post USING btree (title);


--
-- Name: product_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX product_name_key ON public.product USING btree (name);


--
-- Name: product_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX product_slug_key ON public.product USING btree (slug);


--
-- Name: section_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX section_name_key ON public.section USING btree (name);


--
-- Name: section_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX section_slug_key ON public.section USING btree (slug);


--
-- Name: user_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX user_email_key ON public."user" USING btree (email);


--
-- Name: _CategoryToProduct _CategoryToProduct_A_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_CategoryToProduct"
    ADD CONSTRAINT "_CategoryToProduct_A_fkey" FOREIGN KEY ("A") REFERENCES public.category(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: _CategoryToProduct _CategoryToProduct_B_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."_CategoryToProduct"
    ADD CONSTRAINT "_CategoryToProduct_B_fkey" FOREIGN KEY ("B") REFERENCES public.product(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: category category_section_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.category
    ADD CONSTRAINT category_section_id_fkey FOREIGN KEY (section_id) REFERENCES public.section(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_item order_item_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item
    ADD CONSTRAINT order_item_order_id_fkey FOREIGN KEY (order_id) REFERENCES public."order"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_item order_item_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_item
    ADD CONSTRAINT order_item_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: order order_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."order"
    ADD CONSTRAINT order_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product product_label_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT product_label_product_id_fkey FOREIGN KEY (label_product_id) REFERENCES public.label_product(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: product product_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product
    ADD CONSTRAINT "product_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: review review_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.product(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: review review_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.review
    ADD CONSTRAINT review_user_id_fkey FOREIGN KEY (user_id) REFERENCES public."user"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: postgres
--

REVOKE USAGE ON SCHEMA public FROM PUBLIC;


--
-- PostgreSQL database dump complete
--

